@font-face {
  font-family: "iconfont";
  /* Project id 2751615 */
  src: url('iconfont.woff2?t=1629207900515') format('woff2'),
    url('iconfont.woff?t=1629207900515') format('woff'),
    url('iconfont.ttf?t=1629207900515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e63d";
}

.icon-yuedu:before {
  content: "\e806";
}

.icon-shoucang:before {
  content: "\e619";
}

.icon-fenxiang:before {
  content: "\e68e";
}

.icon-shoucang1:before {
  content: "\e60c";
}

.icon-shanchu:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\e783";
}

.icon-zuojiantou:before {
  content: "\e6a5";
}

.icon-tubiaozhizuo-:before {
  content: "\e60d";
}

.icon-lishi:before {
  content: "\e659";
}

.icon-dianzan:before {
  content: "\e742";
}

.icon-guanbi:before {
  content: "\e6bf";
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ccc;
  border-radius: 50%;
}

.icon-pinglun:before {
  content: "\e687";
}

.icon-V:before {
  content: "\e711";
}

.icon-wode:before {
  content: "\e62b";
}

.icon-shouji:before {
  content: "\e861";
}

.icon-shipin:before {
  content: "\e611";
}

.icon-gengduo:before {
  content: "\e601";
  font-size: 24px;
  color: #000;
}

.icon-yanzhengma:before {
  content: "\e606";
}

.icon-zuopin:before {
  content: "\e60b";
}

.icon-you:before {
  content: "\e681";
}

.icon-wuwangluo:before {
  content: "\e607";
}